.title-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.fire-points-buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.fire-points-go-button {
  padding: 1rem 0.5rem 0 0.5rem;
}

.fire-points-item {
  height: 100%;
  border-radius: 1.5rem;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: solid 2px var(--tetradic-fourth-dark-color);
}
